.User-list {
  list-style: none;
}

.Avatar {
  text-align: center;
  background: lightgrey;
  border-radius: 25px;
  border: 3px solid green;
  padding: 20px;
}

.Avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.Avatar h4 {
  color: blue;
}

body {
  background: lightgreen;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
